  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');

h1{
    font-family: Poppins;
    text-align: center;
}
h2{
    text-align: right;
}
p{
    text-align: justify;
}